@import "tailwindcss";

html, body {
  background-color: #09090b;
  color-scheme: dark;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
}

.pt-safe {
  padding-top: env(safe-area-inset-top, 0px);
}
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 0px);
}

